<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Каталог и поиск</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<p>Количество автомобилей в каталоге: {{ cars_count|length }}.</p>
<p><a href="{% url 'search_results' %}">На главную</a></p>

<form method="GET">  
    {{ form.as_p }}  
    <input type="submit" value="Поиск">  
</form>  

{% if object_list %}
<table class="table table-striped">
    <thead>
    <tr><th scope="col">N</td><th scope="col">Производитель</td><th scope="col">Модель</td><th scope="col">Год</td><th scope="col">Коробка</td><th scope="col">Цвет</td></tr>
    </thead>
    <tbody>
    {% for car in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ car.manufacturer }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.get_gearbox_display }}</td>
        <td>{{ car.color }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %} 
<p>При таком запросе ничего не нашлось</p>
{% endif %}
</div>
</body>
</html>